#hoe-left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/*#hoe-left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    width: 230px;
    top: 0;
    position: absolute;
    float: left;
    min-height: 100%;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}*/

.navbar {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}
