#hoe-left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/*#hoe-left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    width: 230px;
    top: 0;
    position: absolute;
    float: left;
    min-height: 100%;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}*/

.navbar {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}

@media (min-width: 767px) {
    .img-responsive {
        height: 100px;
        margin-left: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/*CSS page curriculum*/
.sp_hilight_thin{
    font-size:14px;
    font-weight:normal;
    color: #900;
    text-align:left;
}
.sp_topic{
    font-size:14px;
    font-weight:bold;
    color:#9e76b4;
    text-align:left;
    
}

.sp_credit{
    float:right;
    vertical-align:top;
    margin-right:50px;
}

.sq_topic2{
    font-weight: bold;
}

/*end*/